body {
    font-family: 'Poppins', sans-serif;
}

.header_title {
    color: orange;
}

section {
    display: flex;
}

.half-width {
    width: 50%;
    padding: 5%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: black;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
}

.half-width img {
    width: 80%;
}